.panel {
    width: 60%;
    margin: auto;
    border-radius: 20px;
    background-color: blueviolet;
}

.backgrounds div {
    padding: 15px;
    border-radius: 15px;
}

.backgrounds div.bg {
    cursor: pointer;
    opacity: 0.5;
}

.modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.modal-body p {
    font-weight: bold;
    color: #000;
}

.modal-body {
    background-size: cover;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lang-heading,
.bg-heading {
    width: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.lang-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    font-size: 0.7rem!important;
}

.verse-btns button {
    border-radius: 20px;
    width: 100%;
    background: yellow;
}

.top-header {
    margin: 0 25% 0 25%;
}

.top-header .main-heading {
    width: 100%;
    text-align: center;
}

.top-header .avatar-img {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.top-header .user-name {
    margin: auto;
    margin-top: 20px;
}

.freeplan h4 {
    width: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.freeplan p {
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.freeplan .activate-btn {
    text-align: center;
}

.google-auth-btn {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}